/*!
 *
 */
 
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroy-regular';
    src: url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroy-regularitalic';
    src: url('../fonts/gilroy-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 
@font-face {
    font-family: 'gilroy-light';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 
body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	background:#FFF;
}


body p{ margin-bottom:25px;}

img {
    /*Chrome Crisp Images*/
	image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) ;*/
}

input::-moz-focus-inner {
	border: 0;
}

object,
embed {
	outline: 0;
}

a {
	color: #F00;}

a:active,
a:focus,
a:hover {
	outline: none;
	outline: 0;
	color: #F00;
	text-decoration: none;
}

button,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
	outline: none;
	outline: 0;
}

input::-moz-focus-inner {
	border: 0;
}

a:active {
	outline: none;
}

html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

/*Section Wrap*/
.section-wrapper {
	max-width: 900px;
}
.section-wrapper2 {
	max-width: 1024px;
}

/* CTA */
.btn-cta {
	
	font-weight: 400;
	background: #007bff;
	color: #fff;
	text-decoration: none;
	padding: 18px 25px 18px 25px;
	border-radius: 100px;
	border:none;
	box-shadow:none;
animation: pulsing 1s infinite;
width:100%;
}
.bdy-btn {
	text-align: center;
	background-color: #5055f7 ;
	border-radius: 4px;
	border-color: transparent;
	padding: 10px 0px 10px;
	color: #FFF;
font-family: 'gilroy-bold';
	font-size: 30px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	margin: 0 0 10px;
	display:block;
	overflow: hidden;
	transition: font-size 0.3s ease;
}
.bdy-btn::before, .bdy-btn-invert::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #6468f4;
  transition: left 0.3s ease;
  z-index: -1;
}

.bdy-btn:hover::before, .bdy-btn-invert:hover::before {
  left: 0;
  background-color: #6468f4;
  transition: left 0.3s ease;
}
.bdy-btn:hover {
  color: #FFF;
}

.bdy-btn-invert {
	text-align: center;
	background-color: #FFF;
	border-radius: 0px;
	border: #f3952d  solid 1px;
	padding: 9px 0px 9px;
	color: #f3952d ;
	font-family: 'gilroy-bold';
	font-size: 30px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	margin: 0 0 10px;
	display:block;
	overflow: hidden;
	transition: font-size 0.3s ease;
}
.bdy-btn-invert:hover {
  color: #fff;
}

.btn-sec2 {
	text-align: center;
	background-color: #30a05c;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	padding: 10px 0px 10px;
	color: #FFF;
	font-size: 30px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	margin: 0 0 10px;
	display: block;
	overflow: hidden;
	transition: font-size 0.3s ease;
}
.btn-sec2::before{
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: #1c8445;
	transition: left 0.3s ease;
	z-index: -1;
}
.btn-sec2:hover::before{
  left: 0;
  background-color: #1c8445;
  transition: left 0.3s ease;
}
	
/*CTA Animation*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-in {
  animation: fade-in;
  animation-duration: 0.5s;
}
.fade-out {
  animation: fade-out;
  animation-duration: 0.5s;
}

.pulsing {
  /* transform:scale(1);
     */
  animation: pulsing infinite;
}

@keyframes pulsing {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  70% {
    transform: scale(1.034);
    box-shadow: 0 0 0 10px transparent;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 transparent;
  }
}


.cta-btn {
	font-size: 38px;
	color: #000 !important;
	padding: 20px;
	background-color: #facc15;
	border: none;
	margin-top: 25px;
	font-weight: bolder;
	width:100%;
	font-weight:500;
	cursor:pointer;
	transition: font-size 0.3s ease-out;
	box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.14);
-moz-box-shadow: 1px 7px 5px 0px rgba(0,0,0,0.14);
}

@keyframes ping {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100%,
    75% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes shakes {

    0%,
    16%,
    24%,
    32%,
    40%,
    48%,
    56%,
    64%,
    8% {
        transform: rotate(-10deg);
    }

    12%,
    20%,
    28%,
    36%,
    4%,
    44%,
    52%,
    60% {
        transform: rotate(10deg);
    }

    100%,
    65% {
        transform: rotate(0);
    }
}

.animate-ping {
    animation: ping 1s cubic-bezier(0, 0, .2, 1) infinite;
}

.animate-shake {
	animation: shakes 1.5s ease-in-out 1;
	animation-iteration-count: infinite;
}
.cta-btn svg{ max-width:40px; fill:#d33636; position:absolute; margin-top:11px;}

.round-bg-icon{ background-color:#d33636; width:40px; height:40px; border-radius:40px; position:absolute;  margin-top:11px; }
.cta-txt{ padding-left:60px; font-family: 'gilroy-bold'; line-height:.5;}
button{ border-radius:4px; max-width:815px; margin-bottom:30px;}



h2{ font-size:38px; font-weight:700; line-height:1.2;}
h3{ font-weight:700;}

.mbs-40{ margin-bottom:40px;}

/*Header*/
header{ background:#FFF ; text-align:center; padding:15px 0;}
.logo{ max-height:35px; width:auto; text-align:center; margin:0 auto; display:block; }

.advertorial-heading{ font-size:14px;}

.ftr-logo{max-height:27px; width:auto; text-align:center; margin:0 auto; display:block; filter: brightness(0) saturate(100%) invert(99%) sepia(91%) saturate(2%) hue-rotate(249deg) brightness(108%) contrast(100%); margin-bottom:10px;}
#currentDate{font-size:14px;}
#currentDate span{ background: no-repeat url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M91.352,58.405c0-5.599-0.063-10.7,0.014-15.8c0.149-9.965,7.278-17.241,16.678-17.116c9.136,0.122,16.058,7.372,16.217,17.087c0.083,5.102,0.015,10.206,0.015,15.563c22.012,0,43.551,0,65.863,0c0-4.836-0.026-9.729,0.005-14.623c0.066-10.563,6.744-17.937,16.292-18.026c9.72-0.09,16.564,7.403,16.627,18.233c0.027,4.624,0.004,9.248,0.004,14.275c21.846,0,43.507,0,65.859,0c0-4.797-0.029-9.699,0.006-14.6c0.074-10.508,6.848-17.884,16.409-17.909c9.533-0.025,16.418,7.396,16.506,17.837c0.042,4.782,0.007,9.567,0.007,14.713c21.932,0,43.593,0,65.862,0c0-5.101-0.056-10.188,0.011-15.275c0.131-10.039,7.121-17.314,16.52-17.275c9.337,0.039,16.263,7.381,16.384,17.441c0.062,4.944,0.011,9.889,0.011,15.479c11.256,0,22.165-0.103,33.072,0.025c14.604,0.171,27.132,9.401,31.194,23.16c1.051,3.558,1.521,7.412,1.527,11.133c0.1,48.357,0.082,96.714,0.055,145.072c-0.005,10.799-6.963,18.296-16.688,18.164c-9.501-0.129-16.19-7.557-16.219-18.123c-0.038-14.061-0.01-28.123-0.01-42.184c0-1.671,0-3.341,0-5.27c-131.767,0-263.057,0-394.75,0c0,87.447,0,174.958,0,263.171c1.875,0,3.859,0,5.842,0c57.789,0,115.578-0.019,173.367,0.015c12.909,0.008,21.208,11.154,16.823,22.412c-2.461,6.323-8.393,10.381-15.669,10.475c-7.888,0.102-15.776,0.027-23.664,0.027c-51.272,0-102.545,0.006-153.818-0.002c-22.724-0.002-36.208-13.419-36.209-36.042c-0.006-118.662-0.006-237.325,0-355.988c0.001-22.642,13.469-36.039,36.197-36.049C71.416,58.401,81.141,58.405,91.352,58.405z M322.327,91.511c-2.723,10.767-8.138,16.059-16.51,16.27c-8.597,0.216-14.24-4.998-17.524-16.297c-21.531,0-43.102,0-64.629,0c-3.181,11.191-8.518,16.27-17.011,16.297c-8.556,0.027-14.187-5.314-17.008-16.208c-21.692,0-43.408,0-65.075,0c-2.123,10.072-7.478,15.923-15.542,16.021c-3.399,0.042-7.708-0.69-10.028-2.802c-3.793-3.454-6.298-8.323-9.759-13.172c-9.271,0-19.833,0-30.478,0c0,21.944,0,43.602,0,65.219c131.734,0,263.126,0,394.396,0c0-22.016,0-43.674,0-65.301c-11.015,0-21.616,0-32.169,0c-2.307,10.357-7.768,16.166-16.005,16.072c-3.397-0.038-7.639-0.896-9.964-3.041c-3.657-3.374-6.019-8.152-9.432-13.057C365.424,91.511,343.853,91.511,322.327,91.511z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M255.997,371.386c-0.089-63.503,51.619-115.414,114.956-115.402c63.953,0.012,115.454,51.415,115.544,115.325c0.09,62.931-51.667,115.121-114.187,115.142C307.716,486.474,256.088,435.399,255.997,371.386z M288.942,371.366c-0.069,45.122,36.788,81.979,82.186,82.186c45.14,0.204,82.411-36.835,82.438-81.925c0.028-45.458-36.669-82.622-81.666-82.71C325.915,288.829,289.013,325.506,288.942,371.366z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="%233461FF" d="M288.942,371.366c0.07-45.86,36.973-82.537,82.958-82.449c44.997,0.088,81.694,37.252,81.666,82.71c-0.027,45.09-37.299,82.129-82.438,81.925C325.73,453.346,288.873,416.488,288.942,371.366z M366.527,376.826c-5.935-6.181-11.073-11.938-16.647-17.234c-6.736-6.402-16.84-5.983-23.111,0.53c-6.139,6.371-6.358,16.242-0.025,22.756c10.877,11.187,21.841,22.299,33.109,33.088c8.414,8.058,20.704,5.982,25.999-4.367c11.152-21.799,22.103-43.706,32.751-65.753c1.587-3.284,1.957-7.715,1.365-11.368c-1.113-6.869-7.126-11.689-13.959-12.511c-6.548-0.786-13.211,2.694-16.489,9.109C381.968,345.854,374.604,360.726,366.527,376.826z"/></g></svg>'); background-size:16px; padding-left:20px;}

/*QA Form*/

.progress_box{ margin-bottom:20px;}
form fieldset:not(:first-of-type){ display: none;}
form fieldset h3 {font-size:28px; margin-bottom: 20px; color:#000; }
.form-fieldset-end{text-align: center; background:#FFF; padding:35px 20px 20px; border:#268fff 1px solid; border-radius:5px; box-shadow: -1px 6px 18px 6px rgba(0,0,0,0.06);
-webkit-box-shadow: -1px 6px 18px 6px rgba(0,0,0,0.06);
-moz-box-shadow: -1px 6px 18px 6px rgba(0,0,0,0.06);}
.form-fieldset-end  h3 { font-size: 24px; margin: 0 0 8px;font-weight: 700;}
.form-fieldset-end  h2 {font-size: 36px; font-weight: 700; line-height: 1.4;}
.time{ font-size:24px; max-width:630px; margin:0 auto; line-height:1.2;}
.progress-val{font-family: 'Roboto', sans-serif !important; text-align:center !important; font-weight:700 !important; font-size:18px !important; padding:0 !important; margin:0 0 10px 0 !important; color:#000;}
.progress-val span{font-weight:400 !important;}
.time span{ color:#F00; font-weight:700;}
.sub-result-hl{color:#90c156;}
.svg-loader{ display:block; margin:-30px auto 0px;}
.progress-bar{ background-color:#ff8a00;}
.progress{ background-color:#ddd;}

.congrats-txt{ color:#90c156; font-size:48px; line-height:1; font-weight:700; text-transform:uppercase; transition: font-size 0.3s ease;}
.sub-result{ font-size:35px; color:#000; font-weight:700; line-height:1; transition: font-size 0.3s ease;}
.spot-txt{ font-size:24px; color:#000; font-weight:500; line-height:1; transition: font-size 0.3s ease;}
.sub-result-phone{font-size:32px; font-weight:700; line-height:1; transition: font-size 0.3s ease;}
.red_text{ color:#F00;}
.timer-style{ line-height:1.1; font-size:16px;}
.timer-icon{background: no-repeat url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M488.818,141.41c-2.91,7.714-4.792,16.039-8.934,23.023c-10.286,17.343-26.227,26.824-46.346,27.61c-19.67,0.771-39.395,0.411-59.091,0.172c-9.917-0.121-17.427-8.231-17.492-17.923c-0.067-9.901,7.519-18.044,17.662-18.229c14.846-0.269,29.701-0.09,44.553-0.102c1.653-0.001,3.307,0,6.369,0c-5.708-8.009-10.47-15.499-16.021-22.349c-29.582-36.504-67.289-60.252-113.363-69.673c-55.836-11.417-107.526-0.776-153.994,32.391c-38.902,27.767-64.917,64.962-76.437,111.48c-13.911,56.178-5.164,109.147,27.172,157.134c32.146,47.706,77.289,76.517,134.409,85.201c13.371,2.032,27.161,1.308,40.76,1.827c3.613,0.138,7.326-0.314,10.826,0.364c8.979,1.738,14.985,9.942,14.312,18.845c-0.679,8.954-7.799,16.019-16.855,16.771c-2.847,0.235-5.684,0.575-8.525,0.866c-8.488,0-16.976,0-25.465,0c-6.143-0.734-12.302-1.356-18.426-2.223c-45.907-6.484-86.494-24.82-121.237-55.503c-40.921-36.14-66.518-81.108-75.934-135.031c-1.528-8.749-2.402-17.609-3.58-26.419c0-9.096,0-18.189,0-27.284c0.281-1.604,0.618-3.2,0.83-4.812c1.107-8.399,1.757-16.882,3.336-25.191c8.816-46.373,29.922-86.438,63.101-119.934c34.79-35.122,76.592-57.237,125.426-65.654c8.774-1.512,17.653-2.405,26.484-3.585c9.398,0,18.796,0,28.192,0c1.461,0.295,2.909,0.671,4.383,0.871c8.093,1.1,16.282,1.705,24.276,3.299c57.86,11.533,105.072,40.502,141.411,87.038c3.864,4.948,7.42,10.136,11.819,16.175c0-2.584-0.001-4.029,0-5.472c0.005-14.847-0.106-29.695,0.063-44.539c0.089-7.828,3.857-13.652,11.118-16.739c7.097-3.017,13.882-1.8,19.314,3.538c2.579,2.533,3.958,6.287,5.882,9.487C488.818,98.363,488.818,119.887,488.818,141.41z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="%233461FF" d="M274.188,183.448c0,23.49-0.078,46.979,0.051,70.468c0.036,6.471-2.103,11.757-6.646,16.288c-23.181,23.112-46.269,46.316-69.485,69.393c-11.144,11.076-27.848,7.306-31.647-7.08c-1.87-7.08,0.409-13.12,5.488-18.205c7.068-7.077,14.144-14.146,21.215-21.22c13.824-13.822,27.586-27.707,41.53-41.409c2.389-2.349,3.186-4.7,3.179-7.948c-0.093-43.796-0.074-87.593-0.053-131.389c0.006-9.413,4.396-16.235,12.029-18.941c12.109-4.292,24.208,4.405,24.296,17.757c0.147,22.276,0.043,44.554,0.043,66.831C274.188,179.811,274.188,181.629,274.188,183.448z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="%233461FF" d="M346.223,469.805c-9.594-0.241-16.452-5.661-18.614-13.664c-2.062-7.631,1.134-15.877,8.236-19.891c6.048-3.417,12.274-6.58,18.639-9.354c8.7-3.792,18.549-0.102,22.926,8.13c4.409,8.295,2.013,18.609-6.119,23.521c-6.324,3.818-13.102,6.909-19.798,10.068C349.511,469.55,347.121,469.614,346.223,469.805z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="%233461FF" d="M443.974,316.308c1.711-5.792,3.592-14.897,7.117-23.312c3.325-7.941,13.056-11.039,21.31-8.285c8.117,2.708,13.521,10.567,12.038,19.042c-1.349,7.708-3.296,15.398-5.881,22.78c-2.887,8.246-11.598,12.202-20.768,10.435C449.91,335.449,444.027,328.032,443.974,316.308z"/><path fill-rule="evenodd" clip-rule="evenodd" fill="%233461FF" d="M420.145,416.303c-9.497-0.331-14.808-3.396-18.168-9.405c-3.465-6.195-3.46-12.692,0.609-18.474c4.255-6.045,8.972-11.83,13.997-17.255c6.124-6.61,16.452-7.06,23.578-1.62c7.312,5.581,9.674,15.92,4.554,23.528c-4.29,6.37-9.122,12.528-14.583,17.895C427.042,414.009,422.199,415.259,420.145,416.303z"/></g></svg>'); background-size:20px; padding-left:25px;}
.br-mb{ display:none;}



/*Sec 1*/
.box-wrapper{ background:#FFF; padding:20px;  box-shadow: -1px 6px 18px 6px rgba(0,0,0,0.1); border-radius:8px;}

.sec1{ padding:0 0 1300px; min-height:100vh;}
.sec1 h2{font-size:28px; line-height:1.2; font-weight:700; color:#000; margin-bottom:10px; text-align:center;}
.sub-heading{font-size:24px; line-height:1.2; font-weight:700; color:#000; margin-bottom:20px;}
.sub-heading span{ color:#090;}
.highlight-txt{ color:#F00;}

.img-pointer{ cursor:pointer;}

.sec1 h1{font-family: 'gilroy-bold'; font-size:3rem; line-height:1.2; color:#000; font-weight:700;  padding:10px; border-top-left-radius:5px; border-top-right-radius:5px; margin-bottom:0; text-align:center;}
.sub-h1{font-family: 'gilroy-regular'; font-size:42px; line-height:.8;}
.author-details{ font-size:14px; display:block; border-top:1px solid #5fa6fd; border-bottom:1px solid #5fa6fd; padding:10px 2px;}
.credits{font-family: 'gilroy-bold'; color:#90c156; line-height:1.1; font-size:80px;}
.sub-h2{font-family: 'gilroy-bold'; font-size:36px; line-height:.8; margin-bottom:30px;}
.sec1 p{font-family: 'gilroy-regular'; font-size:20px; line-height:1.3; margin:0 auto 20px;}
.sec1 p span{font-family: 'gilroy-bold';}
.q-txt{font-family: 'gilroy-bold'; font-size:40px; line-height:1; margin-bottom:30px; transition: font-size 0.3s ease; text-align:center; }
.q-txt span{ color:#d93636;}

/*Section 2*/
.sec2{ padding:30px 0;}
.box-s-p{ padding:15px; background:#d7f4ff; color:#000; margin-bottom:30px;}
.box-s-p p{ margin-bottom:0;}
.sec2 img{ margin-bottom:40px;}
.sec2 h2{ color:#14274d; margin-bottom:20px; font-size:30px;}
.sec2 ul{ margin:0; padding:0; font-weight:700; color:#14274d; margin-bottom:20px;}
.sec2 ul li{ font-weight:700; color:#223762; list-style:none; margin-bottom:10px;}
.photo-style{ border:1px solid #D7D7D7;}
.sec2 p a{ text-decoration:underline;}
.sec2 p a:hover{ text-decoration:none;}
.sec2 ul li span {
	background: no-repeat url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px" height="800px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve"><g><path fill="%233461FF" d="M220.769,37.3C269.773,26.41,329.224,22.667,400,22.667S530.227,26.41,579.229,37.3c49.435,10.986,90.519,29.742,122.124,61.346c31.604,31.604,50.36,72.691,61.347,122.123c10.891,49.005,14.634,108.455,14.634,179.231s-3.743,130.226-14.634,179.229c-10.986,49.435-29.742,90.519-61.347,122.123c-31.605,31.605-72.689,50.36-122.124,61.348C530.227,773.59,470.776,777.333,400,777.333S269.773,773.59,220.769,762.7c-49.433-10.987-90.519-29.742-122.123-61.348c-31.604-31.604-50.36-72.688-61.346-122.123C26.409,530.226,22.666,470.776,22.666,400S26.409,269.774,37.3,220.769c10.986-49.432,29.741-90.519,61.346-122.123C130.25,67.042,171.336,48.286,220.769,37.3z"/><path fill="%23FFFFFF" d="M539.882,301.359c14.734,14.736,14.734,38.627,0,53.362L400.916,493.684c-21.345,21.346-55.954,21.346-77.301,0l38.652-38.65l-38.652,38.65l-63.497-63.496c-14.736-14.735-14.736-38.626,0-53.362c14.736-14.735,38.627-14.735,53.363,0l48.786,48.784l124.251-124.25C501.253,286.623,525.146,286.623,539.882,301.359z"/></g></svg>'); background-size:20px; padding-left:30px;
}

/*Footer*/
footer{ background:#14274d ; padding:60px 0; text-align:center;}
footer a, .ftr-link-divider{ font-size:14px; color: #FFF !important;}
footer p a{ display:inline-block;}
footer p{font-size:14px; margin-bottom:0 !important; color: #FFF;}
.ftr-wrapper{padding:40px 0; border-top:1px solid #FFF;}
.disclaimer-txt{
	font-size: 14px;
}

/*MAP*/

article{ font-family: 'Roboto', sans-serif;}
.articleInfo {color: #999; font-size: 15.3px;}
.articleCategory{color: #1070b8;}
.articleTitle{font-size: 2.5rem; margin-bottom: 25px; font-weight: 700; font-family: 'Roboto', sans-serif;}
.articleTitle.lg{font-size: 3.2rem; }

.articleImg{margin-bottom: 1.2rem; margin-top: 1.1rem;}
.articleAuthor{border:solid 1px #edf1f6;border-left: none; border-right: none; margin-bottom: 1rem; padding: 5px; font-size:12px; font-weight: 300; text-align: left}
.articleInner p {font-size: 1.125rem; font-family: 'Roboto', sans-serif; line-height: 1.5}
.articleInner p:not(:last-of-type){margin-bottom: 1.5rem}
.articleInner .md{font-size: 1.5rem}
.articleMap{margin-bottom: 35px; margin-top: 25px; max-width: 750px; margin-left: auto; margin-right: auto;}
path:hover,
circle:hover { stroke-width: 5px;stroke-linejoin: round; fill: #1070b8 !important;cursor: pointer;}
  .stateText {
  fill: #FFFFFF;
  pointer-events: none;
  }

  .stateImage {
    fill: #F8991D;
  }

  .stateButton {
    fill: #000;
  }

  .stateImage,
  .stateButton {
    cursor: pointer;
    transition: 0.4s;
  }

  .stateImage:hover,
  .stateButton:hover {
    fill: #cc0000;
  }



/* MediaQueries */
@media (max-width: 1920px) {
.section-wrapper {
	max-width: 900px;
}
}
@media (max-width: 1366px) {
.section-wrapper {
	max-width: 700px;
}
.sub-result{ font-size:30px; font-weight:700; line-height:1;}
.q-txt{font-size:28px; line-height:1; margin-bottom:30px;}
}

@media (max-width: 991px) {
.sec2 h2{ font-size:22px;}
.sec2 p, .sec2 li{ font-size:16px;}
}

@media (max-width: 926px) {
.bg-light{ border-bottom:10px solid #007bff;}	

header{ padding:8px 0;}
/* .sec1{  min-height: calc(70vh - 70px);  } */
.logo{ max-height:35px; width:auto;}

form fieldset h3 {font-size:26px; }

.cta-btn {
	font-size: 28px;
	color: #000 !important;
	padding: 10px;
	background-color: #facc15;
	border: none;
	margin-top: 25px;
	font-weight: bolder;
	width:100%;
	font-weight:500;
	cursor:pointer;
	transition: font-size 0.3s ease-out;
}
.cta-btn svg{ max-width:20px; fill:#d33636; position:absolute; margin-top:13px;}
.round-bg-icon{ background-color:#d33636; width:20px; height:20px; border-radius:20px; position:absolute;  margin-top:13px;}
.cta-txt{ padding-left:30px;}
}
@media (max-width: 767px) {
nav{min-height:60px;}

.sec1 h1{font-size:30px; }
.sub-h1{font-size:30px; line-height:.8;}
.credits{line-height:1.1; font-size:60px;}
.sub-h2{font-size:30px; line-height:.8; margin-bottom:30px;}


.btn-sec2{ font-size:18px !important;}
.sec2 h2{ font-size:20px;}
}
@media (max-width: 667px) {
.sub-result span{ display:inline-block;}
}
@media (max-width: 575px) {
.bdy-btn, .bdy-btn-invert{ font-size:22px;}
.cta-btn {
	font-size: 24px;
	color: #000 !important;
	padding: 10px;
	background-color: #facc15;
	border: none;
	margin-top: 25px;
	font-weight: bolder;
	width:100%;
	font-weight:500;
	cursor:pointer;
	transition: font-size 0.3s ease-out;
}
.cta-btn svg{ max-width:15px; fill:#d33636; position:absolute; margin-top:11px;}
.round-bg-icon{ background-color:#d33636; width:15px; height:15px; border-radius:60px; position:absolute;  margin-top:11px;}
.mb-br{ display:block;}

.congrats-txt{ color:#90c156; font-size:36px; line-height:1; font-weight:700; text-transform:uppercase;}
.spot-txt{ font-size:20px; font-weight:500; line-height:1;}
.sub-result-phone{font-size:30px; font-weight:700; line-height:1;}
.sec1{ text-align:center;}
.br-mb{ display:block;}
}

@media (max-width: 486px) {
.cta-txt{ padding-left:20px; font-size:18px;}

.cta-btn svg{ max-width:15px; fill:#d33636; position:absolute; margin-top:14px;}
.round-bg-icon{ background-color:#d33636; width:15px; height:15px; border-radius:60px; position:absolute;  margin-top:14px;}

.sec1 h1{font-size: 1.875rem; }
.sub-h1{font-size:28px; line-height:.8;}
.credits{line-height:1.1; font-size:50px;}
.sub-h2{font-size:20px; line-height:.8; margin-bottom:20px;}
.q-txt{font-size:21px; line-height:1; margin-bottom:20px;}

.congrats-txt{ color:#90c156; font-size:26px; line-height:1; font-weight:700; text-transform:uppercase;}
.sub-result{ font-size:20px; font-weight:700; line-height:1;}
.spot-txt{ font-size:18px; font-weight:500; line-height:1;}
.sub-result-phone{font-size:20px; font-weight:700; line-height:1;}

}

@media (max-width: 410px) {
.cta-btn {
	font-size: 16px;
	color: #000 !important;
	padding: 10px;
	background-color: #facc15;
	border: none;
	margin-top: 25px;
	font-weight: bolder;
	width:100%;
	font-weight:500;
	cursor:pointer;
	transition: font-size 0.3s ease-out;
}
.cta-btn svg{ max-width:13px; fill:#d33636; position:absolute; margin-top:5px;}
.round-bg-icon{ background-color:#d33636; width:13px; height:13px; border-radius:60px; position:absolute;  margin-top:5px;}

.credits{line-height:1.1; font-size:43px;}


.btn-sec2{ font-size:12px !important;}
}
@media (max-width: 380px) {
.q-txt{font-size:16px; line-height:1; margin-bottom:20px;}
}
@media (max-width: 356px) {
	.cta-txt{ padding-left:20px; font-size:13px;}
	.cta-btn svg{ max-width:13px; fill:#d33636; position:absolute; margin-top:8px;}
.round-bg-icon{ background-color:#d33636; width:13px; height:13px; border-radius:60px; position:absolute;  margin-top:8px;}
	}
@media (max-width: 350px) {
	

.congrats-txt{ color:#90c156; font-size:20px; line-height:1; font-weight:700; text-transform:uppercase;}
.sub-result{ font-size:18px; font-weight:700; line-height:1;}
.spot-txt{ font-size:16px; font-weight:500; line-height:1;}
.sub-result-phone{font-size:20px; font-weight:700; line-height:1;}


.sub-h1{font-size:20px; line-height:.8;}
.credits{line-height:1.1; font-size:40px;}
.sub-h2{font-size:16px; line-height:.8; margin-bottom:20px;}
}
